.add-movie-page {
  width: 100%;
  background-color: rgb(246, 208, 214);
  min-height: calc(100vh - var(--mat-toolbar-standard-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-movie-card {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgb(255, 99, 125, 0.22) 0px 14px 28px,
    rgb(255, 99, 125, 0.22) 0px 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width=500px) {
  .add-movie-container {
    width: 300px;
  }
}
